[Unit]
Description=CCTV Summarizer Service
After=network.target

[Service]
Type=simple
User=homeassistant
WorkingDirectory=/home/igor/cctv_summarizer
ExecStart=/home/igor/cctv_summarizer/venv/bin/python /home/igor/cctv_summarizer/cctv_summarizer.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
